<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
</head>
<style>
  body { background-color: #B0E0E6;
        color: #000000;
</style>

    <form action="/">
        <p><button type="submit">Main page</button></p>
    </form>

    <form action="/storage/stat">
        <p><button type="submit">Statistics</button></p>
    </form>

    <form action="/storage/files">
        <p><button type="submit">Updating</button></p>
    </form>
-------------------------------------------------------------
<p>Downloading:</p>
    <form action="/storage/files/" method = "POST" enctype="multipart/form-data">
        <div> <p>
        <label for="Filetag">File tag </label>
        <input type = 'text' name = "filetag" id="filetag" required placeholder = 'Input file_tag'> </p>
        </div>

        <div> <p>
        <label for="file_input">File</label>
        <input type = 'file' id = "file_input" name = "file_input" required multiple> </p>
        </div>

         <input type = 'submit' value = "Send info">

         <input type="reset" value="Refresh">

    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</body>
</html>