<html>
  <head>
    <title>Stat</title>
  </head>
  <style>
  body { background-color: #B0E0E6;
        color: #000000;
</style>

    <form action="/">
        <p><button type="submit">Main page</button></p>
    </form>
    <form action="/storage/files">
        <p><button type="submit">Downloading</button></p>
    </form>
    <form action="/storage/files">
        <p><button type="submit">Updating</button></p>
    </form>
  -------------------------------------------------------------

    <h1>All files with filetag "{{filetag}}" available for download:</h1>
    {% if database %}
            {% for tag in database %}

                <p> <a href="/storage/uploads/{{filetag}}/{{tag['filename_origin']}}">{{tag['filename_origin']}}</a></p>

            {% endfor %}
        {% else %}
            Sorry, but there is no file(s) with tag "{{filetag}}" in database
    {% endif %}
  </body>
</html>
