<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<style>
  body { background-color: #B0E0E6;
        color: #000000;
</style>

<form action="/storage/files">
    <p><button type="submit">Downloading</button></p>
</form>

<form action="/storage/stat">
    <p><button type="submit">Statistics</button></p>
</form>


<form action="/storage/files">
    <p><button type="submit">Updating</button></p>
</form>

-------------------------------------------------------------
<p>{{text_block}}</p>


</body>
</html>

