<html>
  <head>
    <title>Stat</title>
  </head>
  <style>
  body { background-color: #B0E0E6;
        color: #000000;
</style>
    <form action="/">
        <p><button type="submit">Main page</button></p>
    </form>
    <form action="/storage/files">
        <p><button type="submit">Downloading</button></p>
    </form>
    <form action="/storage/files">
        <p><button type="submit">Updating</button></p>
    </form>
  -------------------------------------------------------------
  {% if posts %}
    <h1>Statistical data:</h1>
    {% endif %}

    {% if posts %}
        {% for tag in posts.keys() %}
              <h3>Tag "{{tag}}" have the following file(s):</h3>
            {% for value in posts[tag] %}
                <p> - {{value['filename_origin']}}</p>
            {% endfor %}
        {% endfor %}

        {% else %}
    <p> Database is empty</p>
    {% endif %}
  </body>
</html>
