<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<style>
  body { background-color: #B0E0E6;
        color: #000000;
</style>

    <form action="/">
        <p><button type="submit">Main page</button></p>
    </form>

    <form action="/storage/stat">
        <p><button type="submit">Statistics</button></p>
    </form>

    <form action="/storage/files">
        <p><button type="submit">Download</button></p>
    </form>
-------------------------------------------------------------
    {% with messages = get_flashed_messages() %}
          {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}

<p><form action="/storage/files/{{tag}}/{{filename}}/" method="POST"></p>
        <div>
            <p><label for="filetag">Filetag</label>
        <input type='text' name="filetag" id="filetag" value={{tag}}></p>
        </div>

        <div>
            <p> <label for="filename">Filename</label>
        <input type='text' id="filename" name="filename" value={{filename}}> </p>
        </div>

         <input type="submit" value="Update database">

        <input type="hidden" name="filename_saved" value={{filename_saved}}>

        <input type="hidden" name="old_tag" value={{old_tag}}>

    </form>


</body>
</html>