<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<p><form action="/storage/files/<tag>/<filename>" method="POST"></form></p>
        <div>
            <p><label for="filetag">Filetag</label>
        <input type='text' name="filetag" id="filetag" value={{tag}}></p>
        </div>

        <div>
            <p> <label for="filename">Filename</label>
        <input type='text' id="filename" name="filename" value={{filename}}> </p>
        </div>

         <input type="submit" value="Update database">

    </form>

</body>
</html>